* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #c0c0c0;
  --text-color: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #008300;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.divResult {
  background-color: purple;
}